CIFAR10-ImageClassification_01.vol1 filter=lfs diff=lfs merge=lfs -text
CIFAR10-ImageClassification_01.vol2 filter=lfs diff=lfs merge=lfs -text
CIFAR10-ImageClassification.h5 filter=lfs diff=lfs merge=lfs -text
